<% layout('../doc.ejs') %>
<% block('title', padId) -%>
<% script('/js/etherpad.js') %>

<div id="pad"></div>

<script>
// show pad
$('#pad').pad(
    {
        'padId': '<%=groupID%>$<%=padId%>',
        'showControls': true,
        'showChat': true,
        'alwaysShowChat': true,
        'host': '<%=eplurl%>',
        'height': ($(window).height() - 175) + "px",
        'width': '100%',
        <% if (user) { %>
        	'userName': '<%=user.username%>'
        <% } %>
    });
</script>
