<% layout('layout.ejs') %>

<% if ( err ) { %>
    <% block('title', docname) -%>
    <% if ( err == "readonly" ) { %>
        <% include doc_readonly %>
    <% } else { %>
        <span style="color:darkred"><%= __('showdoc.error') %>: <%= __('showdoc.error.' + err) %></span>
    <% } %>
<% } else { %>
    <%- body %>
<% } %>
