<!-- included by doc.ejs -->
<% script('/js/tinyosf.js') %>
<% stylesheet('/css/tinyosf.css') %>

<span><%- __('showdoc.error.readonly.' + readonlyReason, '/doc/' + docname) %></span>
<div class="alert hidden" id="updateerror"></div>
<pre id="doctext" style="word-break: normal; margin-top: 10px; display: none">Loading..</pre>

<script>
setInterval(getDocText, 1000);
getDocText(true);

function getDocText(first)
{
    $.ajax('/doc/<%=docname%>/text')
        .success
        (
            function (res)
            {
                $("#doctext").text(res);
                $('#updateerror').hide();

                if(first)
                {
                    $('#doctext').animate({height: "toggle"}, 1000);
                }
            }
        )
        .fail
        (
            function (res)
            {
                $('#updateerror').show().text("<%=__('showdoc.readonly.updateerror')%>")
            }
        );
}
</script>
