<!-- included by doc.ejs -->

<span><%- __('showdoc.error.readonly.' + readonlyReason, '/doc/' + docname) %></span>
<pre id="doctext" style="word-break: normal; margin-top: 10px">Loading..</pre>

<script>
setInterval(getDocText, 1000);
getDocText();

function getDocText()
{
    $.ajax('/doc/<%=docname%>/text')
        .success
        (
            function (res)
            {
                $("#doctext").text(res);
            }
        )
        .fail
        (
            function (res)
            {

            }
        );
}
</script>
