<!-- included by doc.ejs -->
<% script('/js/tinyosf.js') %>
<% stylesheet('http://cdn.shownot.es/include-shownotes/shownotes.css') %>

<span><%- __('showdoc.error.readonly.' + readonlyReason, '/doc/' + docname) %></span><br>
<span><%= __('showdoc.readonly.users') %> <span id="users"></span></span>
<br>
<br>
<div class="alert hidden" id="updateerror"></div>
<div id="docosftext">Loading...</div>


<script>
setInterval(getDocText, 1000);
getDocText(true);

function getDocText(first)
{
    $.ajax('/doc/<%=docname%>/text')
        .success
        (
            function (res)
            {
                var text = res.text;
                var users = res.users;

                var parsed = osfParser(text);
                var html = osfExport(parsed,'html');
                $('#docosftext').html(html);

                $('#users').text(users);

                $('#updateerror').addClass('hidden');
            }
        )
        .fail
        (
            function (res)
            {
                $('#updateerror').removeClass('hidden').text("<%=__('showdoc.readonly.updateerror')%>")
            }
        );
}
</script>
