<% layout('layout.ejs') %>
<% block('title', "Home") -%>
<% script('js/bcsocket.js') %>
<% script('js/webclient/share.js') %>
<% script('js/webclient/textarea.js') %>

<div id="error"></div>
<textarea id='text' style="height: 200px; width: 400px"></textarea>
<script>
    var elem = $('#text');

    if(document.location.hash.length < 1)
        document.location.hash = "foo";

    var docName = document.location.hash.slice(1);
    var connection = new sharejs.Connection();
    connection.open(docName, function(error, doc) {
        // this function is called once the connection is opened
        if (error)
        {
            $('#error').text(error);
            $('#error').show();
        }
        else
        {
            doc.attach_textarea(elem[0]);
        }
    });
</script>
