<% layout('layout.ejs') %>
<% block('title', "Home") -%>
<% script('js/etherpad.js') %>

<div id="pad" style="display:one"></div>
<div id="padlist" style="display:one"></div>

<script>
if(document.location.hash.length > 1)
{
    var padId = '<%=groupID%>$' + document.location.hash.slice(1);
    $('#pad').pad(
        {
            'padId': padId,
            'showControls': false,
            'showChat': false,
            'host': '<%=eplurl%>',
            'height': '350px',
            'width': '850px'
        });
}
else
{
    padlist.show();
}
</script>
