<html>
    <head>
        <title>Login</title>
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="js/jquery-queryParser.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/forms.css">
    </head>
    <body>
        <form method="POST">
            <table>
                <tr>
                    <td><label for="username">Username:</label></td>
                    <td><input type="text" name="username" id="username" /></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" name="password" id="password" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" id="submit" />
                    </td>
                </tr>
            </table>
            <span id="login-error" class="error"></span>
        </form>
        <script>
            var error = $.getQuery().error;
            var values = $.getQuery().values;

            if(error)
            {
                values = JSON.parse(values);

                switch(error)
                {
                    // Account status:
                    case "email":
                        error = "Your account is not yet activated.";
                        break;
                    case "banned":
                        error = "You have been banned.";
                        break;
                    case "unknown":
                        error = "The status of your account is unknown. Please contact an administrator.";
                        break;
                    // Other:
                    case "input":
                        error = "Please check your input.";
                        break;
                    case "pw":
                        error = "Invalid username/password-combination.";
                        break;
                }

                $('#login-error').text(error);
                $('#login-error').show();
                $('#username').val(values["username"]);
            }
        </script>
    </body>
 </html>
 