body
{
	/* http://noisetexturegenerator.com/ */
	background-image:url('../img/noisy-texture-250x250-o20-d31-c-CCC-t0.gif');
	background-color: #CCC;
}

.container
{
	width: 900px;
}

.navbar
{
	margin-top: 5px;
}

.navbar .brand
{
	margin: 0px;
}

#content
{
	background-color: #FFF;
	border-radius: 4px;
	box-shadow: 0 0 2px 2px #AAA;
}

#content .main
{
	padding: 20px;
	padding-top: 0px;
}

#register-form .control-label
{
    text-align: left;
    margin-left: 15px;
    width: 150px;
}

.form-horizontal .controls
{
	margin-left: 0px;
}

#register-submit
{
	margin-left: 307px;
}

#login-form .control-label
{
    text-align: left;
    margin-left: 15px;
    width: 90px;
}

#login-submit
{
	margin-left: 265px;
}
